/* Galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: auto;
    width: 80%;
  }
  
  /* Imágenes */
  .gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 400px;

  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    height: 100%; /* Establece la altura al 100% para que las imágenes ocupen todo el espacio del contenedor */
    object-fit: cover; /* Ajusta el tamaño de la imagen mientras mantiene la relación de aspecto */
    transition: transform 0.3s ease;

  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  /* Modal */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    
  }
  
  .modal img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 49, 49, 0.75);
  }
  
  .modal-container {
    position: relative; /* Importante para el posicionamiento relativo */
  }
  
  .close-button {
    position: absolute;
    top: -25px; /* Ajusta según sea necesario para que esté fuera del contenedor */
    right: -30px; /* Ajusta según sea necesario para que esté fuera del contenedor */
    background: transparent;
    border: none;
    color: white;
    font-size: 42px; /* Tamaño de la fuente de la "x" */
    cursor: pointer;
  }
  